.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 100px;
    background-color: whitesmoke;
    max-width: 1920px;
    /*width: 90%;*/
    min-height: 60px;
    position: center;
    margin-top: 20px;

}

#root {
    width: 100%;
}
